.splide_content_padding{
    padding: 3.5rem;
}

.splide__slide.review{
    border-radius: 10px;
    border: 2px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.splide__slide .content{
    flex: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 8;
}

.splide__slide .name{
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
}